.out
{
   padding-left: 600px;
   padding-top: 300px;
   border-color: 1px solid black;
}
.sb
{
    height: 50px;
    width: 100px;
    border-radius: 30px;
    background-color: color-mix(in srgb-linear, rgb(0, 140, 255) 50%, rgb(0, 208, 255) 50%);
}

